.writing-mode-vertical-lr {
  writing-mode: vertical-lr;
}

.writing-mode-vertical-rl {
  writing-mode: vertical-rl;
}

.scroll-hidden-x {
  overflow-x: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .scroll-hidden-x::-webkit-scrollbar {
    height: 0;
  }
}

.scroll-hidden-x {
  scrollbar-color: transparent transparent;
}
